/* GENERAL */
body{
    display: flex;
    min-height: 100vh;
    background: #000000;
}

/* FLIP CARD GAME */
.flipWrapper{
    padding-right: 40px;
    
    margin-top: 25px;
    margin-bottom: 25px;
    background: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
.flipCards, .flipCard, .view, .flipDetails, p{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flipCards{
    height: 350px;
    width: 350px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flipCards .flipCard{
    cursor: pointer;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    height: calc(100% / 4 - 10px);
    width: calc(100% / 4 - 10px);
}
.card.shake{
    animation: shake 0.35s ease-in-out;
}
@keyframes shake{
    0%, 100%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(-13px);
    }
    40%{
        transform: translateX(13px);
    }
    60%{
        transform: translateX(-8px);
    }
    80%{
        transform: translateX(8px);
    }
}
.flipCards .flipCard .view{
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;
    position: absolute;
    background: #fff;
    border-radius: 7px;
    backface-visibility: hidden;
    transition: transform 0.25s linear;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
.flipCard .front-view i{
    font-size: 40px;
}
.flipCard .back-view i{
    font-size: 40px;
}
.flipCard .back-view {
    transform: rotateY(-180deg);
}
.flipCard.flip .front-view{
    transform: rotateY(180deg);
}
.flipCard.flip .back-view{
    transform: rotateY(0);
}
.flipDetails{
    width: 100%;
    margin-top: 15px;
    padding: 0 20px;
    background: #fff;
    border-radius: 7px;
    height: calc(100% / 4 - 30px);
    justify-content: space-between;
}
.flipDetails p{
    font-size: 18px;
    height: 17px;
    padding-right: 18px;
    border-right: 1px solid #ccc;
}
.flipDetails p span{
    margin-left: 8px;
}
.flipDetails p b{
    font-weight: 500;
}
.flipDetails button{
    cursor: pointer;
    font-size: 14px;
    color: #fa2020;
    border-radius: 4px;
    padding: 4px 11px;
    background: #fff;
    border: 2px solid #fa2020;
    transition: 0.3s ease;
}
.flipDetails button:hover{
    color: #fff;
    background: #fa2020;
}
::selection{
    color: #fff;
    background: #fa2020;
}
@media screen and (max-width: 700px) {
    .flipCards{
        height: 350px;
        width: 350px;
    }
    .flipCard .front-view i{
        font-size: 35px;
    }
    .flipCard .back-view i{
        font-size: 35px;
    }
}
@media screen and (max-width: 530px) {
    .flipCards{
        height: 300px;
        width: 300px;
    }
    .flipCard .back-view i{
        font-size: 30px;
    }
    .flipDetails{
        margin-top: 10px;
        padding: 0 15px;
        height: calc(100% / 4 - 20px);
    }

    .flipDetails p{
        height: 15px;
        font-size: 17px;
        padding-right: 13px;
    }

    .flipDetails button{
        font-size: 13px;
        padding: 5px 10px;
        border: none;
        color: #fff;
        background: #673AB7;
    }
    
}
/* /FLIP CARD GAME */



/* GUESS THE NUMBER GAME */
.guessGame{
    max-width: 440px;
    display: grid;
    align-items: center;
    gap: 0px;
    padding: 50px 25px;
    margin-bottom: 25px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    text-align: center;
}
.guessGame-health{
    position: relative;
    width: 200px;
    height: 25px;
    border: 2px solid #fff;
    margin-left: 85px;
}
.guessGame-health-number{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
}
.guessGame-health-bar{
    width: 100%;
    height: 100%;
    background-color: rgb(61, 212, 61);
}
.guessGame-title{
    font-size: 24px;
}
.guessGame-number{
    display: grid;
    place-items: center;
    width: 75px;
    height: 75px;
    font-size: 32px;
    color: #ffffff;
    margin: 20px auto;
    background-color:  rgb(255, 0, 0);
    background-size: cover;
}
.guessGame-feedback{
    font-size: 14px;
}
.guessGame footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
input, button{
    background: none;
    font: inherit;
    color: inherit;
    border: none;
}
.guessGame-guess{
    grid-column: 1/-1;
    padding: 5px;
    border: 2px solid #000000;
}
.guessGame-button{
    padding: 10px 15px;
    box-shadow: 5px 5px #090909;
    cursor: pointer;
}
.guessGame-button-play{
    background-color: rgb(34, 189, 34);
    color: white;
}
.guessGame-button-reset{
    background-color: rgb(0, 60, 255);
    color: white;
}
/* /GUESS THE NUMBER GAME */



/* XO GAME */
#xoDiv{
    margin: 5% auto;
    border-radius: 5px;
    text-align: center;
    background-color: #ffffff;
    color: #ff0000;
}
.xoBox{
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    width: 100px;
    height: 100px;

    padding: 0;
}
.xoSpan{
    position: absolute;
    font-size: 75px;
    font-family: sans-serif;
    text-align: center;
    height: 75px;
    width: 75px;
    padding: 0;
    margin: 5px;
    margin-left: -35px;
}
.xoTop{
    border-top: none;}
.xoBottom{
    border-bottom: none;}
.xoLeft{
    border-left: none;}
.xoRight{
    border-right: none;}
.xoAlert{
    height: 75px;
    width: 125px;
    display: inline-block;
    background: ghostwhite;
    position: relative;
    z-index: 10;
    margin-top: -50%;
    border-radius: 20px;
    box-shadow: 0 0 75px 2px rgb(255, 46, 46);
    animation: larger 0.5s;
    animation-fill-mode: forwards;
    box-sizing: content-box;
    text-align: center;
    padding: 30px;
    bottom: 50px;
    top: 0;
}
.xoButton{
    background: rgb(0, 0, 0);
    border-radius: 2px;
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
}
.xoButton:focus{
    background: silver;
}
.activeBox{
    background: silver;
}
@keyframes larger{
    from{
        height: 75px;
        width: 125px;
    }
    to{
        height: 100px;
        width: 250px;
    }
}
/* XO GAME */



/* -------------------- */


/* -------------------- */