/* GENERAL */
#title{
    color: #f8f8f8;
}

.card {

  background-color: rgba(238, 238, 238, 0.082);
  display: flex;
  align-items: center;
  place-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}
/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128C7E;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}














body{
    background: #000000;
}

/* FLIP CARD GAME */
#flipWrapper{
 
    padding-right: 35px;
    padding-left: 10px;
    margin-top: 25px;
    margin-bottom: 50px;
    background: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
.flipCards, .flipCard, .view, .flipDetails, p{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flipCards{
    height: 350px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}
.flipCards .flipCard{
    cursor: pointer;
    
    perspective: 1000px;
    transform-style: preserve-3d;
    height: calc(100% / 4 - 10px);
    width: calc(100% / 4 - 10px);
}
.card.shake{
    animation: shake 0.35s ease-in-out;
}
@keyframes shake{
    0%, 100%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(-13px);
    }
    40%{
        transform: translateX(13px);
    }
    60%{
        transform: translateX(-8px);
    }
    80%{
        transform: translateX(8px);
    }
}
.flipCards .flipCard .view{
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;
    position: absolute;
    background: #fff;
    border-radius: 7px;
    backface-visibility: hidden;
    transition: transform 0.25s linear;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
.flipCard .front-view i{
    font-size: 40px;
}
.flipCard .back-view i{
    font-size: 40px;
}
.flipCard .back-view {
    transform: rotateY(-180deg);
}
.flipCard.flip .front-view{
    transform: rotateY(180deg);
}
.flipCard.flip .back-view{
    transform: rotateY(0);
}
.flipDetails{
    margin-top: 15px;
    padding: 0 20px;
    background: #fff;
    border-radius: 7px;
    height: calc(100% / 4 - 30px);
    justify-content: space-between;
}
.flipDetails p{
    font-size: 18px;
    height: 17px;
    padding-right: 18px;
    border-right: 1px solid #ccc;
}
.flipDetails p span{
    margin-left: 8px;
}
.flipDetails p b{
    font-weight: 500;
}
.flipDetails button{
    cursor: pointer;
    font-size: 14px;
    color: #fa2020;
    border-radius: 4px;
    padding: 4px 11px;
    background: #fff;
    border: 2px solid #fa2020;
    transition: 0.3s ease;
}
.flipDetails button:hover{
    color: #fff;
    background: #fa2020;
}
::selection{
    color: #fff;
    background: #fa2020;
}
@media screen and (max-width: 700px) {
    .flipCards{
        height: 350px;
        width: 350px;
    }
    .flipCard .front-view i{
        font-size: 35px;
    }
    .flipCard .back-view i{
        font-size: 35px;
    }
}
@media screen and (max-width: 530px) {
    .flipCards{
        height: 300px;
        width: 300px;
    }
    .flipCard .back-view i{
        font-size: 30px;
    }
    .flipDetails{
        margin-top: 10px;
        padding: 0 15px;
        height: calc(100% / 4 - 20px);
    }

    .flipDetails p{
        height: 15px;
        font-size: 17px;
        padding-right: 13px;
    }

    .flipDetails button{
        font-size: 13px;
        padding: 5px 10px;
        border: none;
        color: #fff;
        background: #673AB7;
    }
    
}
/* /FLIP CARD GAME */



/* GUESS THE NUMBER GAME */
#guessGame{
    display: grid;
    align-items: center;
    gap: 0px;
    padding: 50px 25px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    text-align: center;
    place-items: center;
}
.guessGame-health{
    position: relative;
    width: 200px;
    height: 25px;
    border: 2px solid #fff;
    
}
.guessGame-health-number{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
}
.guessGame-health-bar{
    width: 100%;
    height: 100%;
    background-color: rgb(61, 212, 61);
}
.guessGame-title{
    font-size: 24px;
}
.guessGame-number{
    display: grid;
    place-items: center;
    width: 75px;
    height: 75px;
    font-size: 32px;
    color: #ffffff;
    margin: 20px auto;
    background-color:  rgb(255, 0, 0);
    background-size: cover;
}
.guessGame-feedback{
    font-size: 14px;
}
#guessGame footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.guessGame-guess{
    grid-column: 1/-1;
    padding: 5px;
    border: 2px solid #000000;
}
.guessGame-button{
    padding: 10px 15px;
    box-shadow: 5px 5px #090909;
    cursor: pointer;
}
.guessGame-button-play{
    cursor: pointer;
    font-size: 14px;
    color: #3ce608;
    border-radius: 4px;
    padding: 4px 11px;
    background: #fff;
    border: 2px solid #3ce608;
    transition: 0.3s ease;
}
.guessGame-button-play:hover{
    color: #fff;
    background: #3ce608;
}
.guessGame-button-reset{
    cursor: pointer;
    font-size: 14px;
    color: #fa2020;
    border-radius: 4px;
    padding: 4px 11px;
    background: #fff;
    border: 2px solid #fa2020;
    transition: 0.3s ease;
}
.guessGame-button-reset:hover{
    color: #fff;
    background: #fa2020;
}
/* /GUESS THE NUMBER GAME */



/* XO GAME */
#xoDiv{
    margin: 5% auto;
    border-radius: 5px;
    text-align: center;
    background-color: #ffffff;
    color: #ff0000;
}
.xoBox{
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    width: 100px;
    height: 100px;

    padding: 0;
}
.xoSpan{
    position: absolute;
    font-size: 75px;
    font-family: sans-serif;
    text-align: center;
    height: 75px;
    width: 75px;
    padding: 0;
 
    margin-left: -36.5px;
}
.xoTop{
    border-top: none;}
.xoBottom{
    border-bottom: none;}
.xoLeft{
    border-left: none;}
.xoRight{
    border-right: none;}
.xoButton {
    cursor: pointer;
    font-size: 14px;
    color: #fa2020;
    border-radius: 4px;
    padding: 4px 11px;
    background: #fff;
    border: 2px solid #fa2020;
    transition: 0.3s ease;
}
.xoButton:hover{
    color: #fff;
    background: #fa2020;
}
.activeBox{
    background: silver;
}
@keyframes larger{
    from{
        height: 75px;
        width: 125px;
    }
    to{
        height: 100px;
        width: 250px;
    }
}
/* XO GAME */



/* MINES GAME */
#mineDiv{
    border-radius: 5px;
    display: grid;
    padding-right: 25px;
    padding-left: 25px;
    background-color: white;
    place-items: center;
    margin-bottom: 100px;
}
#mineDiv h3{
    color: #ff0000;
}
#mineGrid tr td{
    border: 1px solid #fff;
    background-color: #222222;
    width: 35px;
    height: 35px;
    text-align: center;
}
#mineGrid tr td.active{
    background-color: #b4b4b4;
}
#mineGrid tr td.mine{
    background-color: #ff0000;
}
.mineButton {
    cursor: pointer;
    font-size: 14px;
    color: #fa2020;
    border-radius: 4px;
    padding: 4px 11px;
    background: #fff;
    border: 2px solid #fa2020;
    transition: 0.3s ease;
}
.mineButton:hover{
    color: #fff;
    background: #fa2020;
}
/* /MINES GAME */